@import "tailwindcss";

@font-face {
  font-family: "Brother 1816";
  src: url("/font/Brother-1816/Brother-1816-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Brother 1816";
  src: url("/font/Brother-1816/Brother-1816-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Brother 1816";
  src: url("/font/Brother-1816/Brother-1816-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Brother 1816", sans-serif;
  /* Did Not implemented this since it made the text look too close  */
  /* letter-spacing: -0.02em; */
}
